body {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;

}
/* layout */
#side-bar {
    width:15%;
    margin: 10px;
}

#main {
    margin-left: 5%;
    width: 70%;
}

#side-bar {
    display: flex;
    flex-direction: column;
}

#side-bar .logo {
    background-color: lightcoral;
    height: 200px;
}

#side-bar .menu {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #ACD9E6;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.menu-item {
    background-color: #008A8A;  
    height: 30px;
}

#side-bar .ads {
    background-color: #D3D3D3;
    height: 300px;
    margin-bottom: 10px;
}

/* main */
#main .header {
    margin: 10px;
}
.brand {
    position: relative;
    background-color: lightgreen;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.read-more {
    position: absolute;
    bottom: 100px;
    background-color: white;
    height: 25px;
    width: 25%;
}

.des {
    position: absolute;
    bottom: 75px;
    background-color: black;
    height: 25px;
    width: 30%;
}

.slides {
    background-color: green;   
    display: flex;
    height: 100px;
}

.slides .item {
    width: 25%;
    border-right: 1px solid white;
}

.direction {
    display: flex;
    height: 80px;
    background-color: tomato;
    margin: 30px 10px;
}

.direc-1 {
    width: 70%;
    background-color: turquoise;
}

.articles {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.article-item {
    width: 23%;
}

.article-head {
    background-color: #BDCE66;
    height: 100px;
    margin-bottom: 8px;
}

.article-main {
    background-color: #FFA07A;
    height: 300px;
}


#footer {
    width: 100%;
    margin-top: 55px;
    background-color: #D3D3D3;

    height: 100px;
}

